.cart-items {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 25rem;
    overflow-y: scroll;
}

.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 1rem 0;
}

.actions {
    text-align: right;
}

.actions button {
    background-color: transparent;
    border: 1px solid #660000;
    padding: 0.5rem 2rem;
    border-radius: 25px;
    margin-left: 1rem;
    cursor: pointer;
}

.actions button:hover,
.actions button:active {
    background-color: #660033;
    border-color: #660033;
    color: #FFFFFF;
}

.actions .button--alt {
    color: #990033;
}

.actions .button {
    background-color: #993333;
    color: #FFFFFF;
}