html,body {
    margin:0;
    padding:0;
}

.content {
  margin-top: 3.8rem; /* see header.module.css -> 3.8rem */
  display: flex;
  flex-direction: row;
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  margin: auto;
}

.pizza-pic {
  display: flex;
  width: 40%;
  height: auto;
  margin: auto;
}

.chicago-pizza {
  width: 30%;
  height: auto;
  margin: auto;
}
