.content {
  margin-top: 3.8rem; /* see header.module.css -> 3.8rem */
}

.home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  height: auto;
  background-color: #cc3300;
  margin: auto;
  padding: 1rem;
  border-radius: 3rem;
}

.chicago-skyline {
  opacity: 90%;
  width: 100vw;
  height: auto;
  border: 0;
}

.chicago-pizza {
  position: absolute;
  top: 10%;
  left: 34%;
  width: 30%;
  height: auto;
  margin: auto;
}

p {
  font-size: 1.5rem;
  margin: auto;
  margin-top: 2rem;
  text-align: center;
}

span {
  display: block;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.life-span {
  font-weight: bold;
  font-size: larger;
  color: white;
}

i {
  text-decoration: underline;
}

.order-button {
  display: block;
  margin: auto;
  width: 8.5rem;
  height: 4.5rem;
  border-radius: 2rem;
  border: none;
  background-color: rgb(241, 255, 47);
  margin-top: 1rem;
  font-size: 1.5rem;
  padding: 0.5rem;
}

.order-button:hover {
  background-color: orange;
  color: white;
  cursor: pointer;
}
