.map {
    height: 600px;
    background-repeat: no-repeat;
    background-image: url('../../assets/chicago-map.jpg');
    z-index: -1;
    width: 45%;
    position: absolute;
}

.pizza {
    height: 100px;
}

.pizza:hover {
    cursor: pointer;
}

.popUp {
    border: white solid 20px;
    width: 200px;
}

.bebu, .paulie, .coalfire {
    display: block;
    position: absolute;
    width: 100px;
}

.bebu {
    left: 33%;
    top: 300px;
    z-index: 0;
}

.paulie {
    left: 25%;
    top: 300px;
    z-index: 0;
}

.coalfire {
    left: 10%;
    top: 300px;
    z-index: 0;
}
